@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&family=Heebo:wght@100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #F0F4F4;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  display: flex;
}

h1 {
    color: #3E54A3;
    font-family: "Barlow";
    font-style: italic;
    padding-bottom: 30px;
    margin: 0px;
    font-size: 52px;
  }


h2 {
    font-family: "Barlow";
    font-style: italic;
}


p {
  font-family: "Heebo";
  margin: 0px;
}


.icon {
  display: block;
  max-width: 100%;

}

/*
section.left {
  width: 400px;
  display: flex;

}


section.rigth {

  display: flex;
  justify-content: flex-start;

} */

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: #ffffff;
  border-top-right-radius: 70px;
  margin-top: 100px;
  /* flex-direction: column-reverse */ ;
}


.right {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: 84px ;
  margin-left: 103px ;
  max-width: 623px;
  height: 530px;
  flex-direction: column-reverse
}


.left__card {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  padding-left: 100px; 
}

.left__text {
  font-size: 20px;
  padding-bottom: 70px;
  padding-right: 200px;
}

.qr-code {
max-width: 70%;
padding-left: 20px;
} 

.logo{
  margin-right: 42%;
  position: absolute;
}