@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
  background-color: #D5E1EF;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.container {
  display: grid;
  border-radius: 24px;
  width: 320px;
  height: 499px;
  padding: 0px 0px 40px 0px;
  background-color: #FFFFFF;

}

 .qr__code {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin: 16px 16px;
  margin-bottom: 0px;
}  

.first__text {
  font-family: "Outfit";
  font-size: 22px;
  color: #1F314F;
  text-align: center;
  margin: 0px 32px 0px 32px;
  
}

.second__text {
  font-family: "Outfit";
  font-size: 15px;
  color: #68778D;
  text-align: center;
  margin: 0px 32px 0px 32px;
  margin-top: 0px;
}

